

body {
    font-family: Arial;



}








#pato {
    float: left;
    background-color: blue;
   
   position: absolute;
   

}


#Cachorro {

float: right;
background-color: red;
font-size: xx-large;
margin-left: 73%;
position: absolute;
text-align-last: center;
width: auto;
}




#égua  {
    font-size: xx-large;
    float: right;
       margin-top: 37%;
       background-color: cornflowerblue;
       right: 0;

       position: absolute;
}




#baleia {
    font-size: xx-large;
    float: left;
    margin-top: 37%;
    text-align:left;
background-color: goldenrod;


position: absolute;




}